<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Library</title>
  <link rel="stylesheet" href="./public/styles.css">
</head>

<body>
  <header>
    <h1>Edit Game!</h1>
  </header>

<form action="/games/<%= game._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= game.title %>">
  </div><br>
  <div>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" value="<%= game.genre %>">
  </div><br>
  <div>
    <label for="developer">Developer:</label>
    <input type="text" id="developer" name="developer" value="<%= game.developer %>">
  </div><br>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description"><%= game.description %></textarea>
  </div><br>

  <button type="submit">Update Game</button>
</form><br>

<form action="/games/<%= game._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Game</button>
</form>

<footer>
  <p>Copyright © 2024 Game Library</p>
</footer>
</body>

</html>