<h1><%= game.title %> (<%= game.developer %>)</h1>
<p>Release Date: <%= game.releaseDate %></p>
<p>Genre: <%= game.genre %></p>
<p>Description: <%= game.description %></p>
<p><a href="/games/<%= game._id %>/edit">Edit</a> | <a href="/games/<%= game._id %>?_method=DELETE">Delete</a></p>